<Project Sdk="Microsoft.NET.Sdk">
	<!-- Project file used instead of the default csproj when the host system is windows. 
	     This is the real csproj used to compile the project.
	 -->

	<PropertyGroup>
		<OutputType>WinExe</OutputType>
		<TargetFramework>net5.0-windows</TargetFramework>
		<UseWindowsForms>true</UseWindowsForms>
		<RootNamespace>Kyoo.WindowsHost</RootNamespace>
	</PropertyGroup>

	<ItemGroup>
		<ProjectReference Include="../Kyoo.Core/Kyoo.Core.csproj" />
		<ProjectReference Include="../Kyoo.Host.Console/Kyoo.Host.Console.csproj" Condition="$(IncludeConsole) == true" />
	</ItemGroup>

	<ItemGroup>
		<None Remove="kyoo.ico"/>
		<Content Include="kyoo.ico">
			<CopyToOutputDirectory>PreserveNewest</CopyToOutputDirectory>
		</Content>
	</ItemGroup>
</Project>
