.nav-tabs .nav-link, a
{
	color: white;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active
{
	background-color: #343a40;
	color: white;
	border-color: #343a40;
}

.form-control:focus
{
	box-shadow: none;
}