@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins/breakpoints";

.root
{
	position: relative;

	&:host-context(.hoverEnabled) &:hover
	{
		.scrollBtn
		{
			display: block;
		}
	}
}

.episodes
{
	display: flex;
	padding-left: 15px;
	padding-right: 15px;
	overflow-x: auto;
	min-width: 100%;
	flex-shrink: 0;
	flex-direction: row;
	scrollbar-width: thin;
	scrollbar-color: #999 transparent;

	&::-webkit-scrollbar
	{
		height: 4px;
		background: transparent;
	}

	&::-webkit-scrollbar-thumb
	{
		background-color: #999;
		border-radius: 90px;

		&:host-context(.hoverEnabled) &:hover
		{
			background-color: rgb(134, 127, 127);
		}
	}
}

.episode
{
	visibility: visible;
	display: inline-block;
	padding: .25rem;
	flex-shrink: 0;
	width: 55%;
	outline: none;
	position: relative;

	@include media-breakpoint-up(sm)
	{
		width: 40%;
	}

	@include media-breakpoint-up(md)
	{
		width: 33%;
	}

	@include media-breakpoint-up(lg)
	{
		width: 28%;
	}

	@include media-breakpoint-up(xl)
	{
		width: 18%;
	}


	> .moreBtn
	{
		position: absolute;
		top: 2%;
		right: 2%;
		width: 36px;
		height: 36px;
		outline: none;
		display: none;
		z-index: 255
	}
	
	> a {
		cursor: pointer;
		color: inherit;
		text-decoration: inherit;
		outline: none;

		.img {
			width: 100%;
			height: 0;
			padding-top: 56.25%;
			background-color: #333333;
			background-size: contain;
			position: relative;

			> .playBtn {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				margin: auto;
				width: 64px;
				height: 64px;
				outline: none;
				display: none;
			}
		}

		.title {
			padding-top: .2rem;
			font-weight: 600;
			margin-bottom: 0;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}

		.overview {
			font-weight: 300;
			display: -webkit-box;
			-webkit-line-clamp: 4;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}

		.subtitle {
			font-weight: 300;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
	}

	&:host-context(.hoverEnabled) &:hover
	{
		.moreBtn
		{
			display: block;
		}
		
		> a 
		{
			.img 
			{
				outline: solid var(--accentColor);

				.playBtn 
				{
					display: block;
				}
			}

			.title
			{
				text-decoration: underline;
			}
		}
	}
}

.playIcon
{
	font-size: 64px;
	width: 64px;
	height: 64px;
	line-height: 64px;
}

.scrollBtn
{
	padding: 0;
	outline: none;
	min-width: 0;
	position: absolute;
	top: 20%;
	bottom: 60%;
	display: none;

	&.leftBtn
	{
		left: 0;
		padding-left: 10px;
		padding-right: 2px;
	}

	&.rightBtn
	{
		right: 0;
		padding-right: 10px;
		padding-left: 2px;
	}
}
