@import "../../../libraries/subtitles.css";
@import "vtt-subtitles";

.player
{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000;

	> video
	{
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

#hover
{
	transition: opacity .2s linear;
	opacity: 1;
	visibility: visible;

	&.idle
	{
		transition: opacity .6s linear, visibility 0s .6s;
		opacity: 0;
		visibility: hidden;
	}
}

.back
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.6);
	padding: .33%;
	display: flex;

	> a
	{
		outline: none;
		color: inherit;
		text-decoration: none;
	}

	> h5
	{
		margin: 0 0 0 .5rem;
		align-self: center;
	}
}

.controller
{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.6);
	display: flex;
	padding: 1%;

	.img
	{
		width: 15%;
		position: relative;
		height: auto;

		> img
		{
			width: 100%;
			height: auto;
			bottom: 0;
			position: absolute;
		}
	}

	.content
	{
		width: 100%;
		margin-left: 1rem;
		display: flex;
		flex-direction: column;

		.buttons
		{
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			> div
			{
				&.left
				{
					align-self: start;
					display: flex;

					> p
					{
						margin: 0 0 0 1rem;
						align-self: center;
					}
				}

				&.right
				{
					align-self: end;
				}

				> button
				{
					margin-left: .3rem;
					margin-right: .3rem;
					outline: none;
				}

				> a
				{
					margin-left: .3rem;
					margin-right: .3rem;
					outline: none;
					color: inherit;
					text-decoration: inherit;
				}
			}
		}
	}
}

#progress-bar
{
	width: 100%;
	height: auto;
	padding-top: 1rem;
	padding-bottom: 1rem;
	position: relative;

	.seek-bar
	{
		width: 100%;
		height: 4px;
		position: relative;
		background-color: rgba(255, 255, 255, .2);
		transform: scaleY(.6);

		#progress
		{
			width: 0;
			height: 100%;
			background-color: var(--accentColor);
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
		}

		#buffered
		{
			width: 0;
			height: 100%;
			background-color: rgba(255, 255, 255, .5);
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
		}
	}

	#thumb
	{
		width: 100%;
		height: 12px;
		position: absolute;
		left: -6px;
		top: 0;
		bottom: 0;
		margin: auto;
		opacity: 0;

		> div
		{
			width: 12px;
			height: 12px;
			border-radius: 6px;
			background-color: var(--accentColor);
		}
	}

	.hoverEnabled &:hover, &.seeking
	{
		cursor: pointer;

		.seek-bar
		{
			transform: scaleY(1);
		}

		#thumb
		{
			opacity: 1;
		}
	}
}


#nextBtn
{
	position: relative;

	.hoverEnabled &:hover
	{
		#next
		{
			display: flex;
		}
	}

	#next
	{
		position: absolute;
		left: 0;
		bottom: 100%;
		display: none;
		background-color: #212121;
		white-space: normal;
		line-height: normal;
		cursor: default;
		height: 150px;

		#main
		{
			width: auto;
			height: 100%;
			flex-shrink: 0;
			flex-grow: 0;

			> img
			{
				width: auto;
				height: 100%;
			}
		}

		#overview
		{
			padding: 1%;
			width: 50%;
			min-width: 300px;
			flex-shrink: 0;
			display: flex;
			flex-direction: column;

			> p
			{
				text-align: justify;
				font-weight: 300;
				overflow: hidden;
				margin: 0;
			}
		}
	}
}

#volume
{
	display: flex;

	> button
	{
		outline: none;
	}

	.hoverEnabled &:hover, &:focus-within
	{
		> mat-slider
		{
			width: 100px;
		}
	}

	> mat-slider
	{
		width: 0;
		min-width: 0;
		padding: 0;
		height: 40px;
		overflow: hidden;
		transition: width .2s cubic-bezier(0.4,0, 1, 1);

		> div
		{
			top: 19px;
			left: 10px;
			right: 10px;
		}
	}
}

.mat-menu-item
{
	outline: none !important;
}

.selected
{
	background: #595959 !important;
	color: var(--accentColor);
	font-weight: 900;
}

#loadIndicator
{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	pointer-events: none;
	background: rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
}

.volume
{
	min-width: 0 !important;
}

.info-panel
{
	min-width: 250px !important;
	max-width: 300px !important;
}

.stats
{
	> mat-card-header
	{
		margin-bottom: 0.5rem;

		> h4
		{
			align-self: center;
			margin-bottom: 0;
		}
		> button
		{
			outline: none;
		}
	}
	> mat-card-content > span
	{
		float: right;
		> i
		{
			vertical-align: middle;
			font-size: 14px;
		}
	}
}
