@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.people-container
{
	display: flex;
	padding-left: 15px;
	padding-right: 15px;
	overflow-x: auto;
	min-width: 100%;
	flex-shrink: 0;
	flex-direction: row;
	scrollbar-width: thin;
	scrollbar-color: #999 transparent;

	&::-webkit-scrollbar
	{
		height: 4px;
		background: transparent;
	}

	&::-webkit-scrollbar-thumb
	{
		background-color: #999;
		border-radius: 90px;

		&:host-context(.hoverEnabled) &:hover
		{
			background-color: rgb(134, 127, 127);
		}
	}
}

.people
{
	visibility: visible;
	margin: .25rem;
	text-decoration: none;
	color: inherit;
	outline: none;
	flex-shrink: 0;
	flex-grow: 0;
	width: 33%;

	@include media-breakpoint-up(sm)
	{
		width: 22%;
	}

	@include media-breakpoint-up(md)
	{
		width: 20%;
	}

	@include media-breakpoint-up(lg)
	{
		width: 15%;
	}

	@include media-breakpoint-up(xl)
	{
		width: 10%;
	}

	> div
	{
		width: 100%;
		height: 0;
		padding-top: 147.0588%;
		background-size: cover;
		background-color: #333333;
	}

	> p, h6
	{
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: center;
		margin-bottom: 0px;

		&.role
		{
			font-size: 0.8em;
		}
	}

	&:host-context(.hoverEnabled) &:hover
	{
		cursor: pointer;

		> img
		{
			outline: solid var(--accentColor);
		}

		.name
		{
			text-decoration: underline;
		}
	}
}

.scroll-row
{
	position: relative;

	&:host-context(.hoverEnabled) &:hover
	{
		.scrollBtn
		{
			display: block;
		}
	}
}

.scrollBtn
{
	padding: 0;
	outline: none;
	min-width: 0;
	position: absolute;
	top: 30%;
	bottom: 40%;
	display: none;

	&.leftBtn
	{
		left: 0;
		padding-left: 10px;
		padding-right: 2px;
	}

	&.rightBtn
	{
		right: 0;
		padding-right: 10px;
		padding-left: 2px;
	}
}
