[submodule "transcoder"]
	path = transcoder
	url = https://github.com/AnonymusRaccoon/Kyoo.Transcoder
	branch = master
[submodule "WebApp"]
	path = Kyoo/Views/WebClient
	url = https://github.com/AnonymusRaccoon/Kyoo.WebApp
	branch = master
