<div class="container-fluid">
	<div class="row justify-content-center">
		<div class="col-md-4 col-lg-3 col-xl-2 collection-info">
			<div [style.background-image]="getThumb()"></div>
		</div>
		<div class="col-md-8 col-lg-9 col-xl-10">
			<h3 class="text-center text-md-left p-2 p-md-3">{{collection.name}}</h3>
			<h5 class="date" *ngIf="collection.endYear; else elseBlock">{{collection.startYear}} - {{collection.endYear}}</h5>
			<ng-template #elseBlock><h5 class="date">{{collection.startYear}}</h5></ng-template>
			<hr />
			<app-items [page]="shows"></app-items>
		</div>
	</div>
</div>
