<Project>
	<Target Name="Build">
		<Message Importance="high" Text="Detected current operating system is not windows, skipping WindowsHost build." />
	</Target>
	<Target Name="Clean"/>
	<Target Name="Pack"/>
	<Target Name="Restore"/>
	<Target Name="Publish">
		<Message Importance="high" Text="Detected current operating system is not windows, skipping WindowsHost build." />
	</Target>

	<ItemGroup>
		<None Include="@(Compile)" Visible="true" />
		<Compile Remove="*" />
	</ItemGroup>
</Project>
