.navbar
{
  justify-content: left;
}

.nav-item
{
  outline: none;

  > a
  {
    outline: none;
    color: inherit;
  }
}

.nav-link
{
  padding: 12px;
  color: rgba(255, 255, 255, 0.7) !important;

  &:hover
  {
    color: white !important;
  }

  &.active
  {
    color: var(--accentColor) !important;
  }
}

.navbar-brand:hover
{
  color: var(--accentColor);
}

.icon
{
  padding: 8px;
  display: inline-block;
  opacity: 0.7;

  &:hover
  {
    cursor: pointer;
    opacity: 1;
  }
}
