<nav class="navbar fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">
    Kyoo
  </a>

  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/browse" routerLinkActive="active">All</a>
    </li>
    <li class="nav-item" *ngFor="let library of this.libraries">
      <a class="nav-link" routerLink="/browse/{{library.slug}}" routerLinkActive="active">{{library.name}}</a>
    </li>
  </ul>
</nav>

<main>
  <router-outlet></router-outlet>
</main>
