.navbar
{
  justify-content: left;
}

.nav-link
{
  padding: 12px;
}

.icon
{
  padding: 8px;
  display: inline-block;

  > svg
  {
    fill: #d3d3d3;
  }

  &:hover
  {
    cursor: pointer;

    > svg
    {
      fill: #ffffff;
    }
  }
}
