<div class="container pt-5">
  <div class="row">
    <img class="poster" src="thumb/{{this.show.slug}}" />
    <div class="main">
      <div class="info">
        <h1>{{this.show.title}}</h1>
        <h6 *ngIf="show.endYear; else elseBlock">{{show.startYear}} - {{show.endYear}}</h6>
        <ng-template #elseBlock><h2>{{show.startYear}}</h2></ng-template>
      </div>
      <div class="buttons">
        <button mat-fab>Play</button>
        <button mat-mini-fab>Download</button>
        <button mat-mini-fab>Watched</button>
        <button mat-mini-fab>More</button>
      </div>
    </div>
    <div class="logo">
      <img src="logo/{{this.show.slug}}" />
    </div>
    <div>
      <p>Studio</p>
      <p>Director</p>
    </div>
  </div>

  <div class="row pt-3">
    <div class="col">
      <p class="text-justify">{{this.show.overview}}</p>
    </div>
    <mat-divider vertical></mat-divider>
    <div class="col-2">
      <h3>Genres</h3>
      <ul>
        <li *ngFor="let genre of this.show.genres"><a  routerLink="/genre/{{genre.slug}}">{{genre.name}}</a></li>
      </ul>
    </div>
  </div>

  <div class="row bg-primary" style="display: block;"> <!--For now we'll leave that for wireframing a bit-->
    <h3>Staff</h3>
    <div class="scroll-row" style="position: relative;">
      <button mat-fab id="leftBtn"></button>
      <div class="justify-content-left people-container">
        <a class="people" *ngFor="let people of this.show.people" routerLink="/people/{{people.slug}}">
          <img [style.background-image]="getPeopleIcon(people.slug)" />
          <p class="title">{{people.name}}</p>
          <p class="role">{{people.role}}</p>
        </a>
      </div>
      <button mat-fab id="rightBtn"></button>
    </div>
  </div>
</div>

