.poster
{
  width: 25%;
  background-color: #333333;
  display: inline-block;
}

.info
{
  display: inline-block;
  padding-left: 2.5em;
  padding-bottom: 7em;
  vertical-align: bottom;
}

.main
{
  background-color: var(--primary);
}
