@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.shows-container
{
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  overflow-x: auto;
  min-width: 100%;
  flex-shrink: 0;
  flex-direction: row;

  &::-webkit-scrollbar
  {
    height: 4px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb
  {
    background-color: #999;
    border-radius: 90px;

    &:host-context(.hoverEnabled) &:hover
    {
      background-color: rgb(134, 127, 127);
    }
  }
}

.show
{
  width: 33%;
  min-width: 120px;
  max-width: 200px;
  list-style: none;
  padding: .5em;
  text-decoration: none;
  color: inherit;
  outline: none;
  flex-shrink: 0;
  flex-grow: 0;

  @include media-breakpoint-up(sm)
  {
    width: 25%;
  }

  @include media-breakpoint-up(md)
  {
    width: 20%;
    padding: 1em;
  }

  @include media-breakpoint-up(lg)
  {
    width: 18%;
  }

  @include media-breakpoint-up(xl)
  {
    width: 15%;
  }


  &:focus, &:hover
  {
    > div
    {
      outline: solid var(--accentColor);
    }

    > .title
    {
      text-decoration: underline;
    }
  }

  > div
  {
    width: 100%;
    height: 0;
    padding-top: 147.0588%;
    background-size: cover;
    background-color: #333333;
  }

  > p
  {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin-bottom: 0px;
    opacity: 1;

    &.date
    {
      opacity: 0.8;
      font-size: 0.8em;
    }
  }

  &:host-context(.hoverEnabled) &:hover
  {
    cursor: pointer;
  }
}

.scroll-row
{
  position: relative;

  &:host-context(.hoverEnabled) &:hover
  {
    .scrollBtn
    {
      display: block;
    }
  }
}

.scrollBtn
{
  padding: 0;
  outline: none;
  min-width: 0;
  position: absolute;
  top: 30%;
  bottom: 40%;
  display: none;

  &.leftBtn
  {
    left: 0;
    padding-left: 10px;
    padding-right: 2px;
  }

  &.rightBtn
  {
    right: 0;
    padding-right: 10px;
    padding-left: 2px;
  }
}
