<!--suppress TypeScriptUnresolvedVariable ($event.target.value does exist) -->
<h2 mat-dialog-title>Editing metadata of {{this.show.title}}</h2>
<div matDialogContent class="pb-4">
    <mat-accordion>
        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
                <mat-panel-title>Edit metadata</mat-panel-title>
                <mat-panel-description>Manually edit each property</mat-panel-description>
            </mat-expansion-panel-header>
            <form #showForm="ngForm" class="pt-3">
                <mat-form-field class="w-100">
                    <mat-label>Title</mat-label>
                    <input matInput [(ngModel)]="this.show.title" name="title">
                </mat-form-field>

                <mat-form-field class="w-100">
                    <mat-label>Aliases</mat-label>
                    <mat-chip-list #aliasList>
                        <mat-chip *ngFor="let alias of this.show.aliases" (removed)="removeAlias(alias)" removable="true">
                            {{alias}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                        <input #aliasInput placeholder="New alias..." [matChipInputFor]="aliasList" (matChipInputTokenEnd)="addAlias($event)" />
                    </mat-chip-list>
                </mat-form-field>

                <mat-form-field class="w-100">
                    <mat-label>Overview</mat-label>
                    <textarea matInput [(ngModel)]="this.show.overview" name="overview"></textarea>
                </mat-form-field>
        
                <mat-form-field class="w-25 pr-3">
                    <mat-label>Start Year</mat-label>
                    <input matInput [(ngModel)]="this.show.startYear" name="startYear" type="number" [max]="this.show.endYear"/>
                </mat-form-field>
                <mat-form-field class="w-25 pr-3">
                    <mat-label>End Year</mat-label>
                    <input matInput [(ngModel)]="this.show.endYear" name="endYear" type="number" [min]="this.show.startYear"/>
                </mat-form-field>
                <mat-form-field class="w-50">
                    <mat-label>Status</mat-label>
                    <mat-select>
                        <mat-option value="Finished">Finished</mat-option>
                        <mat-option value="Airing">Airing</mat-option>
                        <mat-option value="Planned">Planned</mat-option>
                    </mat-select>
                </mat-form-field>
                
                <mat-form-field class="w-100">
                    <mat-label>Genres</mat-label>
                    <mat-chip-list #genreList>
                        <mat-chip *ngFor="let genre of this.show.genres" (removed)="removeGenre(genre)" removable="true">
                            {{genre.name}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                        <input #genreInput placeholder="New genre..."
                               [formControl]="genreForm"
                               [matChipInputFor]="genreList"
                               (matChipInputTokenEnd)="addGenre($event); $event.input.value = null;"
                               [matAutocomplete]="genreAuto" />
                        <mat-autocomplete #genreAuto="matAutocomplete"
                                          (optionSelected)="autocompleteGenre($event); genreInput.value = null;">
	                        <mat-option *ngFor="let genre of this.filteredGenres | async" [value]="genre">
                                {{genre.name}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-chip-list>
                </mat-form-field>
        
                <mat-form-field class="w-100">
                    <mat-label>Trailer</mat-label>
                    <input matInput [(ngModel)]="this.show.trailerUrl" name="trailer">
                </mat-form-field>
        
                <mat-form-field class="w-100">
                    <mat-label>Studio</mat-label>
                    <input matInput [value]="this.show.studio?.name"
                           (input)="this.show.studio = {id: 0, slug: null, name: $event.target.value};"
                           [matAutocomplete]="studioAuto" name="studio">
                    <mat-autocomplete #studioAuto="matAutocomplete" (optionSelected)="this.show.studio = $event.option.value">
                        <mat-option *ngFor="let studio of this.filteredStudios | async" [value]="studio">
                            {{studio.name}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Identify show</mat-panel-title>
                <mat-panel-description>Search on metadata providers</mat-panel-description>
            </mat-expansion-panel-header>
            <mat-form-field class="w-100 mx-2">
                <mat-label>Search for</mat-label>
                <input matInput value="{{show.title}}" (input)="this.reIdentify($event.target.value)">
            </mat-form-field>
            <mat-form-field *ngFor="let provider of this.providers" class="provider px-1">
                <mat-label>{{provider.name}} ID</mat-label>
                <input matInput [value]="this.getMetadataID(provider)?.dataID" (input)="this.setMetadataID(provider, $event.target.value)" >
            </mat-form-field>
            <app-shows-grid #identifyGrid [externalShows]="true" (clickCallback)="this.identifyID($event)"></app-shows-grid>
        </mat-expansion-panel>
    </mat-accordion>
</div>
<div mat-dialog-actions align="end">
	<button mat-button mat-dialog-close>Cancel</button>
	<button mat-button (click)="apply()">
        <mat-icon *ngIf="this.metadataChanged" style="color: red;" class="mr-2" matTooltip="You changed an external id, the whole show's metadata will be refreshed. Individual changes made won't last." matTooltipPosition="above">warning</mat-icon>
        Apply
    </button>
</div>
