<div class="container-fluid">
    <div *ngFor="let show of this.shows" class="show-container">
        <mat-card class="show">
            <a href="/show/{{show.slug}}" routerLink="show/{{show.slug}}" class="d-flex">
                <div class="thumb">
                    <div [style.background-image]="getThumb(show.slug)"> </div>
                </div>
                <div class="data">
                    <p class="title">{{show.title}}</p>
                    <p class="date" *ngIf="show.endYear && show.startYear != show.endYear; else elseBlock">{{show.startYear}} - {{show.endYear}}</p>
                    <ng-template #elseBlock><p class="date">{{show.startYear}}</p></ng-template>
                    <p class="overview">{{show.overview}}</p>
                </div>
            </a>
        </mat-card>
    </div>
</div>
