@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

button
{
	outline: none;
}

.arrow
{
	font-size: 12px;
}

.container-fluid
{
	display: flex;
	flex-wrap: wrap;
}

.show
{
	width: 100%;
	min-width: 300px;
	list-style: none;
	margin: .5em;
	text-decoration: none;
	color: inherit;
	outline: none;
	
	@include media-breakpoint-up(lg)
	{
		width: 50%;
	}

	@include media-breakpoint-up(xl)
	{
		width: 33%;
	}

	&:focus, &:hover
	{
		> div
		{
			outline: solid var(--accentColor);
		}

		> .title
		{
			text-decoration: underline;
		}
	}

	> div
	{
		width: 100%;
		height: 0;
		padding-top: 147.0588%;
		background-size: cover;
		background-color: #333333;
	}

	> p
	{
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: center;
		margin-bottom: 0px;
		opacity: 1;

		&.date
		{
			opacity: 0.8;
			font-size: 0.8em;
		}
	}

	&:host-context(.hoverEnabled) &:hover
	{
		cursor: pointer;
	}
}
