<div class="container d-flex justify-content-center pt-5">
	<mat-card class="col-xl-5 col-md-7">
		<mat-tab-group mat-stretch-tabs>
			<mat-tab label="Login">
				<br/>
				<form #loginForm="ngForm" (ngSubmit)="login()">
					<mat-card-content>
						<mat-form-field appearance="outline" class="w-75">
							<mat-label>Username</mat-label>
							<input matInput name="loginUsername" #loginUsername="ngModel" [(ngModel)]="loginInformation.username" required>
							<mat-error *ngIf="loginUsername.hasError('required')">
								An username is <strong>required</strong>
							</mat-error>
						</mat-form-field>
						<br/>
						<br/>
						<mat-form-field appearance="outline" class="w-75">
							<mat-label>Password</mat-label>
							<input matInput name="loginPassword" #loginPassword="ngModel" [(ngModel)]="loginInformation.password" [type]="hidePassword ? 'password' : 'text'" required passwordValidator>
							<button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword;" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
								<mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
							</button>
							<mat-error *ngIf="loginPassword.hasError('required')">
								A password is <strong>required</strong>
							</mat-error>
							<mat-error *ngIf="loginPassword.hasError('passwordError')">
								Error: {{loginPassword.getError("passwordError")["error"]}}
							</mat-error>
						</mat-form-field>
						<br/>
						<mat-checkbox class="pl-3" [(ngModel)]="loginInformation.stayLoggedIn" name="rememberme">Stay logged in</mat-checkbox>
					</mat-card-content>
					<div fxFlexAlign="end" align="end" style="text-align: end">
						<button mat-button type="submit" [disabled]="!loginForm.valid">Login</button>
					</div>
				</form>
			</mat-tab>
			<mat-tab label="Signin">
				<br/>
				<form #signinForm="ngForm" (ngSubmit)="signin()">
					<mat-card-content>
						<mat-form-field appearance="outline" class="w-75">
							<mat-label>Email</mat-label>
							<input matInput name="signinEmail" #signinEmail="ngModel" [(ngModel)]="signinInformation.email" required email>
							<mat-error *ngIf="signinEmail.hasError('required')">
								An email is <strong>required</strong>
							</mat-error>
							<mat-error *ngIf="signinEmail.hasError('email')">
								Please enter a valid email
							</mat-error>
						</mat-form-field>
						<br/>
						<br/>
						<mat-form-field appearance="outline" class="w-75">
							<mat-label>Username</mat-label>
							<input matInput name="signinUsername" #signinUsername="ngModel" [(ngModel)]="signinInformation.username" required>
							<mat-error *ngIf="signinUsername.hasError('required')">
								An username is <strong>required</strong>
							</mat-error>
						</mat-form-field>
						<br/>
						<br/>
						<mat-form-field appearance="outline" class="w-75">
							<mat-label>Password</mat-label>
							<input matInput name="signinPassword" #signinPassword="ngModel" [(ngModel)]="signinInformation.password" [type]="hidePassword ? 'password' : 'text'" required passwordValidator>
							<button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword;" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
								<mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
							</button>
							<mat-error *ngIf="signinPassword.hasError('required')">
								A password is <strong>required</strong>
							</mat-error>
							<mat-error *ngIf="signinPassword.hasError('passwordError')">
								Error: {{signinPassword.getError("passwordError")["error"]}}
							</mat-error>
						</mat-form-field>
					</mat-card-content>
					<div fxFlexAlign="end" align="end" style="text-align: end">
						<button mat-button type="submit" [disabled]="!signinForm.valid">Sigin</button>
					</div>
				</form>
			</mat-tab>
		</mat-tab-group>
	</mat-card>
</div>