.collection-info
{
  width: 60%;

  > div
  {
    width: 100%;
    height: 0;
    padding-top: 147.0588%;
    background-size: cover;
    background-color: #333333;
    margin: 10px;
  }
}

hr
{
  margin: 10px 0 10px 0;
  border-top: 1px solid rgba(255, 255, 255, .60);
  border-left: 0;
  width: inherit;
  height: 2px;
}
