<div class="container-fluid justify-content-center" *ngIf="this.sortEnabled">
	<button mat-icon-button matTooltipPosition="below" matTooltip="Filter">
		<mat-icon>filter_list</mat-icon>
	</button>
	<button mat-button matTooltipPosition="below" matTooltip="Sort" [matMenuTriggerFor]="sortMenu">
		<mat-icon>sort</mat-icon> Sort by {{this.sortType}}
		<i *ngIf="this.sortUp" class="material-icons arrow">arrow_upward</i>
		<i *ngIf="!this.sortUp" class="material-icons arrow">arrow_downward</i>
	</button>
</div>

<mat-menu #sortMenu="matMenu">
	<div *ngFor="let type of this.sortKeys">
		<button *ngIf="type != this.sortType; else elseBlock;" mat-menu-item (click)="sort(type, true)">
			Sort by {{type}}
		</button>
		<ng-template #elseBlock>
			<button mat-menu-item (click)="sort(type, !this.sortUp)">
				Sort by {{type}}
				<i *ngIf="!this.sortUp" class="material-icons arrow">arrow_upward</i>
				<i *ngIf="this.sortUp" class="material-icons arrow">arrow_downward</i>
			</button>
		</ng-template>
	</div>
</mat-menu>

<div class="container-fluid justify-content-center" infinite-scroll (scrolled)="this.page?.loadNext(this.client)">
	<a class="show" *ngFor="let item of this.page?.items" [href]="getLink(item)" [routerLink]="getLink(item)">
		<div matRipple [style.background-image]="getThumb(item.slug)" > </div>
		<p class="title">{{item.title}}</p>
		<p class="date">{{getDate(item)}}</p>
	</a>
</div>
