@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins/breakpoints";

button
{
	outline: none;
}

.arrow
{
	font-size: 12px;
}

.container-fluid
{
	display: flex;
	flex-wrap: wrap;
}

.show
{
	width: 27%;
	min-width: 120px;
	max-width: 168px;
	list-style: none;
	margin: .5em;
	text-decoration: none;
	color: inherit;
	outline: none;

	@include media-breakpoint-up(sm)
	{
		width: 22%;
	}

	@include media-breakpoint-up(md)
	{
		width: 18%;
		margin: 1em;
	}

	@include media-breakpoint-up(lg)
	{
		width: 18%;
	}

	@include media-breakpoint-up(xl)
	{
		width: 15%;
	}


	&:focus, &:hover
	{
		> div
		{
			outline: solid var(--accentColor);
		}

		> .title
		{
			text-decoration: underline;
		}
	}

	> div
	{
		width: 100%;
		height: 0;
		padding-top: 147.0588%;
		background-size: cover;
		background-color: #333333;
	}

	> p
	{
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: center;
		margin-bottom: 0;
		opacity: 1;

		&.date
		{
			opacity: 0.8;
			font-size: 0.8em;
		}
	}

	&:host-context(.hoverEnabled) &:hover
	{
		cursor: pointer;
	}
}

::ng-deep .big-panel
{
	width: 50vw !important;
	max-width: none !important;
	margin-left: -20vw;
	margin-right: -20vw;
	overflow-x: hidden;

	> div
	{
		text-align: center;

		> mat-chip-list > div
		{
			justify-content: center;
			margin: 0;
		}
	}
}
