<div class="container-fluid justify-content-center" *ngIf="this.sortEnabled">
	<button mat-icon-button matTooltipPosition="below" matTooltip="Filter" [matMenuTriggerFor]="filterMenu">
		<mat-icon [matBadge]="getFilterCount().toString()" [matBadgeHidden]="getFilterCount() == 0"
		          matBadgeColor="warn" matBadgeSize="small">
			filter_list
		</mat-icon>
	</button>
	<button mat-button matTooltipPosition="below" matTooltip="Sort" [matMenuTriggerFor]="sortMenu">
		<mat-icon>sort</mat-icon> Sort by {{this.sortType}}
		<i *ngIf="this.sortUp" class="material-icons arrow">arrow_upward</i>
		<i *ngIf="!this.sortUp" class="material-icons arrow">arrow_downward</i>
	</button>
</div>

<mat-menu #filterMenu="matMenu" class="big-panel">
	<ng-container *ngIf="this.genres.length > 0">
		<h4><b>Genres</b></h4>
		<mat-chip-list>
			<!--suppress AngularInvalidExpressionResultType ('default' color is valid for mat-chip)-->
			<mat-chip *ngFor="let genre of this.genres"
			          [color]="this.filters.genres.includes(genre) ? 'accent' : 'default'" selected
			          (click)="this.addFilter('genres', genre)">
				{{genre.name}}
			</mat-chip>
		</mat-chip-list>
	</ng-container>

	<ng-container *ngIf="this.studios.length > 0">
		<br/>
		<h4><b>Studios</b></h4>
		<mat-form-field class="w-100 px-3" (click)="$event.stopPropagation();">
			<input type="text" matInput [matAutocomplete]="auto" [formControl]="studioForm">
			<mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
			                  (optionSelected)="this.addFilter('studio', $event.option.value, false)"
			                  [displayWith]="this.nameGetter">
				<mat-option *ngIf="this.shouldDisplayNoneStudio()" [value]="null">None</mat-option>
				<mat-option *ngFor="let studio of this.filteredStudios | async" [value]="studio">
					{{studio.name}}
				</mat-option>
			</mat-autocomplete>
		</mat-form-field>
	</ng-container>
</mat-menu>

<mat-menu #sortMenu="matMenu">
	<div *ngFor="let type of this.sortKeys">
		<button *ngIf="type != this.sortType; else elseBlock;" mat-menu-item (click)="sort(type, true)">
			Sort by {{type}}
		</button>
		<ng-template #elseBlock>
			<button mat-menu-item (click)="sort(type, !this.sortUp)">
				Sort by {{type}}
				<i *ngIf="!this.sortUp" class="material-icons arrow">arrow_upward</i>
				<i *ngIf="this.sortUp" class="material-icons arrow">arrow_downward</i>
			</button>
		</ng-template>
	</div>
</mat-menu>

<div class="container-fluid justify-content-center" infinite-scroll (scrolled)="this.page?.loadNext(this.client)">
	<a class="show" *ngFor="let item of this.page?.items" [href]="getLink(item)" [routerLink]="getLink(item)">
		<div matRipple [style.background-image]="getThumb(item.slug)" > </div>
		<p class="title">{{item.title ? item.title : item.name}}</p>
		<p class="date">{{getDate(item)}}</p>
	</a>
</div>
