[Unit]
Description=Kyoo Media Server
After=network.target

[Service]
User=kyoo
Environment=KYOO_DATADIR=/var/lib/kyoo
ExecStart=/usr/lib/kyoo/Kyoo.Host.Console
Restart=on-abort
TimeoutSec=20
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
