[Unit]
Description=Kyoo Media Server
Requires=postgresql.service
After=network.target

[Service]
User=kyoo
WorkingDirectory=/var/lib/kyoo
ExecStart=/usr/lib/kyoo/Kyoo
Restart=on-abort
TimeoutSec=20

[Install]
WantedBy=multi-user.target
