[Unit]
Description=Kyoo Media Server
Requires=postgresql.service
After=network.target

[Service]
User=kyoo
ExecStart=/usr/lib/kyoo/Kyoo /var/lib/kyoo
Restart=on-abort
TimeoutSec=20

[Install]
WantedBy=multi-user.target
