<div class="episodes" id="episodes">
  <div class="episode" *ngFor="let episode of this.episodes">
    <div class="img" [style.background-image]="sanitize(episode.thumb)">
      <button mat-icon-button id="playBtn"><i class="material-icons playIcon">play_circle_outline</i></button>
    </div>
    <p class="title">S{{episode.seasonNumber}}E{{episode.episodeNumber}} - {{episode.title}}</p>
    <p class="overview">{{episode.overview}}</p>
  </div>
  <button mat-raised-button color="accent" class="scrollBtn" id="leftBtn"><mat-icon>arrow_left</mat-icon></button>
  <button mat-raised-button color="accent" class="scrollBtn" id="rightBtn"><mat-icon>arrow_right</mat-icon></button>
</div>
