<header id="nav" style="height: 68px;">
	<div class="fixed-top">
		<nav id="toolbar" class="navbar navbar-dark bg-secondary">
			<a class="navbar-brand nav-item ml-3" routerLink="/">
				Kyoo
			</a>

			<ul class="navbar-nav flex-row">
				<li class="nav-item">
					<a class="nav-link" routerLink="/browse" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">All</a>
				</li>
				<li class="nav-item" *ngFor="let library of this.libraries">
					<a class="nav-link" routerLink="/browse/{{library.slug}}" routerLinkActive="active">{{library.name}}</a>
				</li>
			</ul>

			<ul class="navbar-nav flex-row ml-auto">
				<li class="nav-item icon searchbar">
					<input placeholder="Search" id="search" type="search" (input)="onUpdateValue($event)"/>
					<mat-icon matTooltipPosition="below" matTooltip="Search" (click)="openSearch()">search</mat-icon>
				</li>
				<li class="nav-item" *ngIf="!this.isAuthenticated else accountDrop">
					<a class="icon" (click)="this.authManager.login()" matTooltipPosition="below" matTooltip="Login">
						<mat-icon>account_circle</mat-icon>
					</a>
				</li>
				<ng-template #accountDrop>
					<li #accountParent class="nav-item icon" style="opacity: 1 !important;">
						<img matRipple [src]="authManager.user.picture" [matMenuTriggerFor]="accountMenu" class="profilePicture" matTooltipPosition="below" [matTooltip]="authManager.user.username" fallback="more.svg" (error)="accountParent.style.removeProperty('opacity');" />
					</li>
					<mat-menu #accountMenu="matMenu">
						<button class="dropButton" mat-menu-item (click)="this.openAccountDialog()">Settings</button>
						<button class="dropButton" mat-menu-item (click)="this.authManager.logout()">Logout</button>
					</mat-menu>
				</ng-template>
			</ul>
		</nav>
		<mat-progress-bar *ngIf="this.isLoading" color="accent" mode="indeterminate"> </mat-progress-bar>
	</div>
</header>

<main >
	<router-outlet></router-outlet>
</main>
