@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins/breakpoints";

button
{
	outline: none;
}

.arrow
{
	font-size: 12px;
}

.container-fluid
{
	display: flex;
	flex-wrap: wrap;
}

.show-container
{
	width: 100%;
	min-width: 300px;
	list-style: none;
	padding: .5em;

	@include media-breakpoint-up(lg)
	{
		width: 50%;
	}

	@include media-breakpoint-up(xl)
	{
		width: 33%;
	}
}

.show
{
	padding: 0;
	
	> a
	{
		text-decoration: none;
		color: inherit;
		outline: none;
		position: relative;

		&:focus, &:hover
		{
			
			> .data > .title
			{
				text-decoration: underline;
			}
		}

		> .thumb
		{
			width: 33%;
			
			> div
			{
				width: 100%;
				height: 0;
				padding-top: 147.0588%;
				background-size: cover;
				background-color: #333333;
			}
		}
		
		> .data
		{
			width: 67%;
			padding: .5rem;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;

			> p:not(.overview)
			{
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				text-align: center;
				margin-bottom: 0;
				opacity: 1;
				display: inline-block;
				
				&.date
				{
					opacity: 0.8;
					font-size: 0.8em;
					padding-left: 1rem;
				}
			}
			
			> .overview
			{
				overflow-y: auto;
				height: calc(100% - 4rem);
				text-align: justify;
				padding-right: .5rem;
				margin-bottom: 0;
			}

			&:host-context(.hoverEnabled) &:hover
			{
				cursor: pointer;
			}
		}
	}
}


.provider
{
	display: inline-block;
	width: 2.5rem;
	height: 2.5rem;
	margin: .25rem;

	> a
	{
		width: 2.5rem;
		height: 2.5rem;
		position: relative;
		display: inline-block;

		> img
		{
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			margin: auto;
			max-width: 2.5rem;
			max-height: 2.5rem;
		}
	}
}