[*.cs]

# CS4014: Because this call is not awaited, execution of the current method continues before the call is completed
dotnet_diagnostic.CS4014.severity = silent

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none
