//Roboto font
@font-face
{
  font-family: "Roboto";
  src: url(/roboto/Roboto.eot); /* IE9 Compat Modes */
  src: url(/roboto/roboto.eot?#iefix) format("embedded-opentype"), /* IE6-IE8 */
  url(/roboto/roboto.woff) format("woff"), /* Modern Browsers */
  url(/roboto/roboto.ttf) format("truetype"), /* Safari, Android, iOS */
  url(/roboto/roboto.svg#svgFontName) format("svg"); /* Legacy iOS */
}

//Bootstrap configuration
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$theme-colors: (
  "primary": #0a1128,
  "secondary": #080708,
  "accentColor": #e23c00,
  "textPrimary": #ffffff
);

$body-bg: theme-color("primary");
$body-color: theme-color("textPrimary");
body
{
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
}


@import "~bootstrap/scss/bootstrap";


//Material Angular Configuration
@import '~@angular/material/theming';
@include mat-core();

// Define the default theme (same as the example above).
$primary: (default: #0a1128);
$accent: (default: #e23c00, lighter: #ff9149);
$theme: mat-light-theme($primary, $accent);

// Include the default theme styles.
@include angular-material-theme($theme);


//Material Icons
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(/iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons
{
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

mat-icon
{
  vertical-align: middle;
}

.snackError
{
  background-color: theme-color("accentColor");
  color: theme-color("textPrimary");
}

.scroll-row
{
  padding-left: 0;
  padding-right: 0;
}
