//Roboto font
@import "../static/roboto/sass/roboto.scss";

//Bootstrap configuration
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$theme-colors: (
	"primary": #0a1128,
	"secondary": #000000,
	"accentColor": #e23c00,
	"textPrimary": #ffffff
);

$body-bg: theme-color("primary");
$body-color: theme-color("textPrimary");
$font-family-base: "Roboto", Arial, sans-serif;

p
{
	opacity: .6;
}

h6
{
	opacity: .87;
}

@import "~bootstrap/scss/bootstrap";


//Material Angular Configuration
@import "~@angular/material/theming";
@include mat-core();

$primary: (default: #0a1128);
$accent: (default: #e23c00, lighter: #ff9149);
$theme: mat-dark-theme($primary, $accent);

// Include the default theme styles.
@include angular-material-theme($theme);

.mat-ripple-element
{
	background-color: rgba(255, 255, 255, .3) !important;
}

.mat-card-header-text
{
	margin: 0 5px !important;
}

//Material Icons
//noinspection CssUnknownTarget
@font-face {
	font-family: "Material Icons";
	font-style: normal;
	font-weight: 400;
	src: url(/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
	src: local("Material Icons"),
	     local("MaterialIcons-Regular"),
	     url(/iconfont/MaterialIcons-Regular.woff2) format("woff2"),
	     url(/iconfont/MaterialIcons-Regular.woff) format("woff"),
	     url(/iconfont/MaterialIcons-Regular.ttf) format("truetype");
}

//noinspection CssNoGenericFontName
.material-icons
{
	font-family: "Material Icons";
	font-weight: normal;
	font-style: normal;
	font-size: 24px; /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	/* Support for IE. */
	font-feature-settings: "liga";
}

mat-icon
{
	vertical-align: middle;
}

.snackError
{
	background-color: theme-color("accentColor");
	color: theme-color("textPrimary");
}

.scroll-row
{
	padding-left: 0;
	padding-right: 0;
}

.cdk-overlay-container
{
  z-index: 2000 !important;
}
