name: Coding Style
on: [pull_request, workflow_dispatch]

jobs:
  back:
    name: "Lint Back"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./back
    steps:
      - uses: actions/checkout@v4

      - name: Check coding style
        run: |
          dotnet tool restore
          dotnet csharpier . --check

  api:
    name: "Lint api"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./api
    steps:
      - uses: actions/checkout@v4

      - name: Setup Biome
        uses: biomejs/setup-biome@v2
        with:
          version: latest

      - name: Run Biome
        run: biome ci .

  front:
    name: "Lint Front"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./front
    steps:
      - uses: actions/checkout@v4

      - name: Setup Biome
        uses: biomejs/setup-biome@v2
        with:
          version: latest

      - name: Run Biome
        run: biome ci .

  scanner:
    name: "Lint scanner/autosync"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: chartboost/ruff-action@v1
        with:
          args: format --check

  transcoder:
    name: "Lint transcoder"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./transcoder
    steps:
      - uses: actions/checkout@v4

      - name: Run go fmt
        run: if [ "$(gofmt -s -l . | wc -l)" -gt 0 ]; then exit 1; fi
